<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    executionOrder="random"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    convertWarningsToExceptions="false"
    convertNoticesToExceptions="false"
    convertErrorsToExceptions="false"
    resolveDependencies="true"
    stopOnFailure="false"
    failOnWarning="true"
    failOnRisky="true"
    verbose="true"
    colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <const name="REQUEST_FACTORY" value="HttpSoft\Message\RequestFactory"/>
        <const name="RESPONSE_FACTORY" value="HttpSoft\Message\ResponseFactory"/>
        <const name="SERVER_REQUEST_FACTORY" value="HttpSoft\Message\ServerRequestFactory"/>
        <const name="STREAM_FACTORY" value="HttpSoft\Message\StreamFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="HttpSoft\Message\UploadedFileFactory"/>
        <const name="URI_FACTORY" value="HttpSoft\Message\UriFactory"/>
    </php>

    <testsuites>
        <testsuite name="HttpSoft Message Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
