<?xml version="1.0" encoding="utf-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        executionOrder="depends,defects"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        convertErrorsToExceptions="true"
        stopOnFailure="false"
        verbose="true"
        colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <const name="REQUEST_FACTORY" value="HttpSoft\Message\RequestFactory"/>
        <const name="RESPONSE_FACTORY" value="HttpSoft\Message\ResponseFactory"/>
        <const name="SERVER_REQUEST_FACTORY" value="HttpSoft\Message\ServerRequestFactory"/>
        <const name="STREAM_FACTORY" value="HttpSoft\Message\StreamFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="HttpSoft\Message\UploadedFileFactory"/>
        <const name="URI_FACTORY" value="HttpSoft\Message\UriFactory"/>
    </php>

    <testsuites>
        <testsuite name="HttpSoft Message Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
